[ql_args]
# alpha   = 0.5 (a schedule is being used so this parameter makes no difference)
# epsilon = 0.1 (a schedule is being used so this parameter makes no difference)
gamma = 0.9
choice_type = eps-greedy
replay_buffer = True
replay_buffer_size = 500
replay_buffer_batch_size = 64
replay_buffer_warm_up = 200