# This config file is intended to be used with the jobs/run.py script or
# jobs/evaluate.py script. If a single execution of the models/evaluate.py
# file is intended, command line arguments must be used instead.
[rollouts_args]
rollout-time = 21600
num-rollouts = 3

#If train.config debug is True, debug parameters will be used instead.
debug_rollout-time = 4320
debug_num-rollouts = 1
